body {
    height: 100vh;
}

.container {
    margin: auto;
    padding: 20px;
    width: 90vw;
}

.carousel{
    position: relative;
    width: 550px;
    height: 450px;
    margin: 0 auto;
}
    
.items {
  position: absolute;
  width: 400px;
  height: 300px;
  left:50%;
  top: 50%;
  transform: translate(-50%,-50%);
  display: inline-block;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  overflow: hidden;
}

.hidden{
  opacity:0;
}

.next, .back{  
    position: absolute;
    top: 50%;
    transform: translate(-50%,0);
    cursor: pointer;
}

.next{
    right: 5px;
}

.back{
    left: 30px;
}

.button i{
    font-size: 30px;
    color: steelblue;
}
