body {
    height: 100vh;
}

.container {
    margin: auto;
    padding: 20px;
    width: 90vw;
}

.slideContainer{
    position: relative;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
}

.slide {
    position: relative;
    width:2800px; 
}

.carousel{
    position: relative;
    width: 680px;
    height: 485px;
    margin: 0 auto;
    background-color: whitesmoke;
    border-radius: 10px;
    border: 1px solid;
}
    
.items {
  float: left;
}

.items img{    
  width: 400px;
  height: 300px;
}

.items p{
    text-align: center;
}

.items p:first-child{    
    font-weight: bold;
}

.hidden{
  opacity:0;
}

.next, .back{  
    position: absolute;
    bottom: 50%;
    cursor: pointer;
}

.next{
    right: 45px;
}

.back{
    left: 45px;
}

.button i{
    font-size: 30px;
    color: steelblue;
}

.button i:hover{    
    color: darkgoldenrod;
}

.dots{    
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translate(-50%,0);    
    width: 390px;
}

.dots img{
    display: inline-block;
    width: 50px;
    height: 30px;
    margin: 0 1px;
    cursor: pointer;    
    opacity: .5;
}

.dots img:hover{
    border: 1px #23415a solid;
}

.dotActive{
    opacity: 1 !important; 
    transform: scale(1.2);
}

.progress {
    position: absolute;
    bottom: 5px;
    width: 100%;
    background-color: lightgray;
}
.bar {
    width: 1%;
    height: 10px;
    background-color: steelblue; 
}

.bar.full{
    width: 100%;
}


/********** Media queries ***********************/
@media only screen and (max-device-width: 768px) {
	.items p{
        font-size: 28px;
    }
    
    .carousel{
        width: 100%;
        height: 890px;
    }

    .slideContainer {
        width: 95%;
        height: 800px;
    }

    .slide {
        width: 700%;
    }

    .items {
        width: 14.68%;
    }

    .items img {
        width: 100%;
        height: 75%;
    }
        
    .button{
        display: none;
    }
}
